{%load static%}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body> 
    <h1 align="center">이지넷-제품찾기</h1>
    <br><br>
    <div align="center">
        <button style="width: 10%; height: 5%; font-size: large;" onclick="location.href='/searchoj/'">진성3층</button>
    </div>
    <br>
    <br>
    <div align="center">
        <button style="width: 10%; height: 5%; font-size: large;" onclick="location.href='/searchoj/jsBoj/'">진성지하</button>
    </div>
    <br>
    <br>
    <div align="center">
        <button style="width: 10%; height: 5%; font-size: large;" onclick="location.href='/searchoj/eznetoj/'">이지넷창고</button>
    </div>
    <br>
    <br>
    <div align="center">
        <button style="width: 10%; height: 5%; font-size: large;" onclick="location.href='/searchoj/dajoj/'">동아장</button>
    </div>
</body>
</html>